language: shell
os:
  - linux
  - osx
sudo: required
dist: trusty


# Note: needed by winetricks-test, which not yet supported in TravisCI
# - cabextract
# - p7zip
# - unrar
# - unzip
# - wine

addons:
  apt:
    packages:
    # for checkbashisms
    - devscripts

# Note: if statements cannot go across multiple lines. Combine into one, or move to a shell script!

# On Ubuntu, shellcheck is not in trusty, but is in trusty-backports, but those aren't available in TravisCI..)
# Using artful to get 0.4.6, which has support for disabling a check globally within a file
before_install:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then echo "deb http://archive.ubuntu.com/ubuntu/ artful universe" | sudo tee -a /etc/apt/sources.list ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then time sudo apt-get -q update ; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]] ; then time sudo apt-get install python-bashate shellcheck ; fi

    - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then time brew update ; fi
    # Travis decided to remove pip from the OSX image
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then time curl https://bootstrap.pypa.io/get-pip.py | sudo python ; fi
    # Bashate isn't on homebrew, they don't package things that are on pypi, so we have to pip install it instead:
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then time sudo pip install bashate ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]] ; then time brew install checkbashisms shellcheck ; fi

# Note if testing on a branch, you can replace this with your desired command, e.g.,:
# script: time sh ./src/winetricks -q comctl32
# Some tests require a working $DISPLAY, and not just Xvfb. See tests/winetricks-test for the list.
# Either skip those / test manually, or run them on OS X.

# Also note:
# Installing wine on the vms is a pain.
# Linux: currently can't get 1.8.x / 1.9.x installed :/
# OS X: 38 minutes

# shell-checks is quick and works, no display or compiles needed

script: time sh ./tests/shell-checks

# OS X doesn't allow writing to /usr/bin, skip non-PREFIX make install test there
install:
    - if [[ "$TRAVIS_OS_NAME" != "osx" ]] ; then time sudo make install ; fi
    - time make install PREFIX="$(mktemp -d)"
