Source: winetricks
Section: contrib/otherosfs
Priority: optional
Maintainer: Dan Kegel <dank@kegel.com>
Standards-Version: 3.8.1
Build-Depends: debhelper,
        devscripts

Package: winetricks
Section: contrib/otherosfs
Architecture: all
Homepage: http://winetricks.org
Depends: binutils,
        cabextract,
        p7zip,
        unzip,
        wget
Recommends: zenity | kdebase-bin,
        xdg-utils,
        sudo | gksu,
        wine
Description: Simple tool to work around common problems in Wine.
 Winetricks has a menu of supported games/apps for which it can do all the
 workarounds automatically. It also lets you install missing DLLs or
 tweak various Wine settings individually.
 It can be used via GUI or command line, whichever you prefer; the
 command-line mode is particularly useful as a building block in fancier
 wine frontends and in automated regression testing.
