[Desktop Entry]
Name=Winetricks
Comment=Work around problems and install applications under Wine
Exec=winetricks --gui
Terminal=false
Icon=winetricks
Type=Application
Categories=Utility;
