[Desktop Entry]
Name=Winetricks
Comment=Work around problems and install applications under Wine
Comment[fr]=Contourner les problèmes et installer des applications sous Wine
Comment[pl]=Rozwiązuj problemy i instaluj aplikacje z użyciem Wine
Comment[ru]=Решение проблем и установка программ с помощью Wine
Exec=winetricks --gui
Terminal=false
Icon=winetricks
Type=Application
Categories=Utility;
