[Desktop Entry]
Name=Winetricks
Comment=Work around problems and install applications under Wine
Comment[zh_CN]=解决 Wine 相关问题并安装应用程序
Comment[zh_TW]=解決 Wine 相關問題並安裝應用程式
Comment[zh_HK]=解決 Wine 相關問題並安裝應用程式
Comment[fr]=Contourner les problèmes et installer des applications sous Wine
Comment[pl]=Rozwiązuj problemy i instaluj aplikacje z użyciem Wine
Comment[ru]=Решение проблем и установка программ с помощью Wine
Exec=winetricks --gui
Terminal=false
Icon=winetricks
Type=Application
Categories=Utility;
